{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block
body %}

<div class="container">
  <h2>Update Login Details</h2>
  <form action="/update/{{info.userid}}" method="POST">
    <div class="mb-3">
      <label for="userid" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="userid"
        name="userid"
        value="{{info.userid}}"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="text"
        class="form-control"
        name="password"
        value="{{info.password}}"
        id="password"
      />
    </div>
    <div class="mb-3">
      <label for="usertype" class="form-label">UserType</label>
      <input
        type="text"
        class="form-control"
        name="usertype"
        value="{{info.usertype}}"
        id="usertype"
      />
    </div>

    <button type="submit" class="btn btn-dark">Update</button>
  </form>
</div>

{% endblock body %}
